<nav class="nav-bar">
    <div class="nav-content">
        <div class="nav-brand">
            <a class="brand-frame" href="#">
                <span class="brand-frame-1">News</span>
                <span class="brand-frame-2">Portal</span>
            </a>
        </div>
        <div class="nav-search">
            <a href="">
                <mat-icon>search</mat-icon>
            </a>
        </div>
    </div>
    <div class="logout-btn">
        <a [routerLink]="['/']">
            <img src="../../../assets/images/logout.png" alt="logout" />
            <!-- <mat-icon>logout</mat-icon> -->
        </a>
    </div>
</nav>