<div class="signup-component">
    <div class="background-image">
    </div>
    <div class="signup">
        <p class="welcome">Welcome</p>
        <h3 class="signup-text">Signup to your account</h3>
        <form class="signup-form">
            <div class="email-section">
                <label class="email-text" for="email">Email</label>
                <input class="email-input" type="email" id="email" name="email" placeholder="Enter your email">
            </div>
            <div class="password-section">
                <label class="password-text" for="password">Password</label>
                <input class="password-input" type="password" id="password" name="password"
                    placeholder="Enter your password">
            </div>
            <div class="forgot-remember-controls">
                <div class="remember-me">
                    <input type="radio" id="remember" name="remember"> Remember me
                </div>
                <div class="forgot-password">
                    <a href="#">Forgot password?</a>
                </div>
            </div>
            <button class="signup-button" type="submit">Signup</button>
            <div class="login">
                <span class="login-text">Have an account? <a class="signup-link" href="#">Login Now</a></span>
            </div>
        </form>
        
    </div>
</div>